.wizard .nav-tabs > li {
    width: 33%;
}
.jobpost-connecting-line {
    background: #e0e0e0 none repeat scroll 0 0;
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 40%;
    width: 70%;
    z-index: 1;
}

.setup-skills{
        display: inline-block;
        padding-left: 20px;
      left: 0;
      position: relative;
      float: left;
}

.pure-checkbox{
    font-size: 17px;
}

.input-list{
    list-style: none;
}

.jp-head{
    text-align: center;

    margin-top: 40px;
}

.next-step{
    margin-right: 25px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
    color: #555;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
