@font-face{
    font-family: 'Lato-Light';
    src: url('/fonts/Lato-Light.ttf');
}
@font-face{
    font-family: 'Lato-Regular';
    src: url('/fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url('/fonts/OpenSans-Light.ttf');
}
@font-face{
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf');
}
.jpinput{
    max-width: 100%;
}

h1,h2,h3{
    font-family: 'Lato-Light';
}

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
    color: #ea782d;
}
h4{
    font-family: 'Lato-Regular';
}
a,p{
    font-family: 'OpenSans-Regular';
    color: #3c3c3c;
}
body{
    overflow-x:hidden;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab:active, span.round-tab:focus{
     border: 2px solid #d35400;
}

span.round-tab i{
    color:#555555;
    margin-top: 17px;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #d35400;
    
}
.wizard li.active span.round-tab i{
    color: #d35400;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #d35400;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #d35400;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.setup-header > h2{

}
.setup-header{
    margin-left: 5%;
    margin-right: 5%;
}
.tab-header{
    padding-top: 15px;
    background-color: #F7F7F7;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-top: -50px;

}
.setup-selectp{
    max-width: 100%;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 19px;
    font-family: 'Lato-Light';
    background: #fff;
    color: #3c3c3c;
    border:1px solid  rgba(207,216,220 ,1);
}

.setup-textp{
    height: 53px;
    width: 100%;
    font-size: 19px;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3c3c3c;
    background: #fff;
    border:1px solid rgba(207,216,220 ,1);
}

.setup-mapinput {
    height: 50px;
    width: 1000px;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 25px;
    padding-left: 12px;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3c3c3c;
    background: #fff;
    border: 1px solid rgba(207,216,220 ,1);
}

.pac-container, .pac-item, .pac-item-query {
    width: 100%;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jpinput{
    max-width: 100%;
    border-radius: none;
}


.setup-selectoption{
    font-family: 'OpenSans-Regular';
    font-size: 19px;
    color: #3c3c3c;
    border-bottom: 1px solid transparent;
}
.bootstrap-select>.dropdown-toggle {
    width: auto;
}
.setup-school{
    margin-left: -10px;
}
.setup-year{
    margin-left: -60px;
}

.setup-skills > label{
border:1px solid rgba(207,216,220 ,1);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
}
.input-list{
    list-style: none;
    font-weight: normal;
    margin-left: -35px;
}

label{
    font-family: 'OpenSans-Regular';
    color: #3c3c3c;
    font-weight: 100;
}
input[type=checkbox] {
    padding-left: 5px;
    padding-right: 5px;
}